<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <title>Computer World: Recycle Service</title>
    <script src = "recycleScript.js"></script>
    <style>
		.btn:hover {
  			-moz-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
 			-moz-transform: scale(1.1);
  			-ms-transform: scale(1.1);
  			-o-transform: scale(1.1);
  			-webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  			-webkit-transform: scale(1.1);
  			box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  			cursor: pointer;
 			transform: scale(1.1); 
		}
   </style>
</head>

<body class="template">
    <header class="header">
        <!-- Logo -->
        <img src="/static/pics/Computer-World-logos_transparent.png" alt="Computer-World-logo" width="200" height="200">

        <!-- Top/Right header button section -->
        <article class="top_btns">
            <input type="button" class="btn" onclick="" value="Login">
            <input type="button" class="btn" onclick="" value="My Account">
            <input type="button" class="btn" onclick="" value="My Cart">
        </article>

        <!-- header title and banner section -->
        <article class="container">
            <h1 class="heading">Computer World Recycling Service</h1>
                <!-- Each image is 350px by 233px -->
                <article class="banner" style = "">
                    <img class="start" width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
                    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
                    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">
			    <img width = 345px src="https://live.staticflickr.com/2724/4426834540_d380ceb963_z.jpg">
			    <img width = 80px src="https://live.staticflickr.com/7454/9099487834_5b46b1db6a_m.jpg">

                </article>
        </article>
    </header>

    <section class="body">

	  <!-- Paragraphs -->
        <article class="section_body">
            <article class="section_cell" style = "transform:none">
                <h3><br><br>Why You Should Recycle</h3>  
			<p align = center>Over 250 million tons of trash is produced in the United States every year. According to <a 			href = "https://www.theworldcounts.com/stories/electronic-waste-facts">theworldcounts.com</a>, there is 				approximately 40 million tons of electronic waste generated by the world every year and seventy percent of 				our toxic waste comes from electronics. Improper disposal of electronics can lead to toxic waste such as lead 			and mercury being released  into the environment. As a computer retail and service provider, we at Computer 				World have made it part of our mission to help reduce electronic waste and prevent these toxins from doing 				further damage to the environment.<br><br><br><br></p>  
            </article>
        </article>

        <article class="section_body">
            <article class="section_cell" style = "transform:none">
                <h3><br><br>Recycling with Computer World</h3>
			<p align = center>If you wish to take advantage of our recycling service, please complete the form on the 				right.Upon submitting the form, we will send you a confirmation email including a label to print and include 				with your items. We would appreciate any information about the items provided to us via the notes/comments 				box. Upon receiving the items to be recycled, we will break them down into materials in an environmentally 				friendly way to be recycled into new parts. We appreciate your concern for the environment. Thank you for 				considering our recycling service, we hope you decide to recycle with us!<br><br><br><br></p>   
            </article>
        </article>
        

	  <!-- form -->
        <article class="section_body">
            <article class="section_cell" style = "transform:none">
                <h3>Recycle Form</h3>
			<form align = center>
                		<label for = "fname">First Name:</label><br>
                		<input type="text" id="fname" name="fname" style = "background-color: #000732; border-radius:10px; color:white;">
				<span id = "fnameError"></span><br><br>
                		<label for = "lname">Last Name:</label><br>
                		<input type="text" id="lname" name="lname" style = "background-color: #000732; border-radius:10px; color:white;">
				<span id = "lnameError"></span><br><br>
                		<label for = "email">E-Mail:</label><br>
                		<input type = "text" id = "email" name = "email" style = "background-color: #000732; border-radius:10px; color:white;">
				<span id = "emailError"></span><br><br>
                		<label for = "notes">Additional Notes/Comments:</label><br>
                		<textarea id = "notes" name = "notes" rows = "3" style = "background-color: #000732; border-radius:10px; color:white;"></textarea>
				<span id = "notesError"></span><br>
                		<input type="button" class = "btn" value="submit" onClick="validateForm()" >
				<span id = "finished"></span>
        		 </form>    
            </article>
        </article>
    
    </section>

	<!-- footer -->
    <footer class="footer_frame">

            <article class="footer">
                <h4>Company</h4>
                <hr color="#000732">
                <section class="footer_menu">
                    <article style="text-align:left; margin-left: 15px;">
                        <h4 class="footer_options" onclick="">About</h4>
                        <h4 class="footer_options" onclick="">Privacy Policy</h4>
                        <h4 class="footer_options" onclick="">Contact Us</h4>
                    </article>
                    <article style="text-align:left; margin-left: 200px;">
                        <h4 class="footer_options" onclick="">Press</h4>
                        <h4 class="footer_options" onclick="">Reviews</h4>
                        <h4 class="footer_options" onclick="">Blogs</h4>
                    </article>
                </section>
            </article>

            <article class="footer">
                <h4>Services</h4>
                <hr color="#000732">
                <section class="footer_menu">
                    <article style="text-align:left; margin-left: 15px;">
                        <h4 class="footer_options" onclick="">Online Store</h4>
                        <h4 class="footer_options" onclick="">Repair Services</h4>
                        <h4 class="footer_options" onclick="">Recycle</h4>
                    </article>
                </section>
            </article>
        
    </footer>

</body>
</html>